<button (click)="isDanger = !isDanger">Toggle Danger</button>
<button (click)="isWarning = !isWarning">Toggle Warning</button>

<!-- <div class="box" [class.red-boder]="isDanger" [class.yellow-background]="isWarning"></div> -->

<!-- <div class="box" [class]="{ 'red-boder': isDanger, 'yellow-background': isWarning }"></div> -->

<!-- nên dùng [class] thay vì [ngClass] -->
<div [class]="classes"></div>

<!--
  [style.class-name] 
  [style.className]  
  [style]="object"
-->
<!-- <p [style.color]="'red'" [style.backgroundColor]="'yellow'" [style.fontSize.rem]="2">
  Hello world
</p> -->

<p [style]="{'color': 'var(--text-color)', 'backgroundColor': 'yellow'}" >
  Hello world
</p>