<ng-template
  #buttonTmpl
  let-label="label"
  let-icon="icon"
  let-className="classname"
>
  <button [class]="['btn', className ? className : '']">
    <i *ngIf="icon" class="fa {{icon}}"></i>
    {{ label }}
  </button>
</ng-template>

<ng-contain
[ngTemplateOutlet]="buttonTmpl"
[ngTemplateOutletContext]="{label: 'Click here', className: 'btn-primary'}"
></ng-contain>

<ng-contain
[ngTemplateOutlet]="buttonTmpl"
[ngTemplateOutletContext]="{label: 'Delete', className: 'btn-danger', icon: 'fa-remove'}"
></ng-contain>