<h1>Angular</h1>
<div class="card mx-4">
  <div class="card-header">
    You have selected <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container>.
  </div>
  <div class="card-body">
    There are <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container> was
    selected.
  </div>
  <div class="card-footer">
    You have selected
    <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container>.
  </div>
</div>
<ng-template #counterTmpl>
  <span class="badge badge-primary">{{ counter }}</span> item(s)
</ng-template>

<ng-template #linkTemplate let-l>
  <h3>{{ l }}</h3>
</ng-template>
<app-tabs [navs]="navs" [linkTemplate]="linkTemplate"></app-tabs>